/* UIT Student Portal */

/* Team Members
Syed Shehroz Ali (20B - 084 - SE)
Syed Hassan Mehboob (20B - 035 - SE)
Muneeb Humayun (20B - 038 - SE)
Dua Ali (20B - 095 - SE)
Tehniyat Fatima (20B - 114 - SE)
*/

/* Color Palette
Blue - #051E7A
Dark Blue - #000E43
Green - #005246
Black - #1C1C21
White - #FFFFFF
*/

/* Font
'Roboto'
*/

#marks{
    margin-top: 20px;
    margin-left: 10px;

    text-align: center;

    filter: drop-shadow(0px 27px 25px rgba(0,0,0,0.5));
}

    table{
        width: 69vw;
        height: auto;

        background: white;
    }

    tr, td{
        padding: 20px;
    }

    .blue{
        background-color: #000E43;
        color: #FFFFFF;
    }