/* UIT Student Portal */

/* Team Members
Syed Shehroz Ali (20B - 084 - SE)
Syed Hassan Mehboob (20B - 035 - SE)
Muneeb Humayun (20B - 038 - SE)
Dua Ali (20B - 095 - SE)
Tehniyat Fatima (20B - 114 - SE)
*/

/* Color Palette
Blue - #051E7A
Dark Blue - #000E43
Green - #005246
Black - #1C1C21
White - #FFFFFF
*/

/* Font
'Roboto'
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

    nav{
        width: 25vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: #051e7a;

        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        filter: drop-shadow(21.563px 16.249px 25px rgba(0,0,0,0.5));
    }

        #profile{
            width: 80%;
            height: auto;

            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }

            #profile img{
                width: 100%;
                height: auto;
            }

            #user-info{
                width: 100%;
                height: auto;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                color: white;

                position: relative;
                top: -50px;
            }

            #name{
                font-weight: 700;
            }

            #major{
                font-weight: 300;
            }
    
        #links{
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            #links a{
                width: 100%;

                display:flex;
                justify-content: center;

                font-weight: 500;
                color: white;

                padding: 10px;

                background: none;

                transition: all .3s;
            }

            #links a:hover{
                background: #000e43;
            }

    main{
        width: 75vw;
        height: auto;

        padding: 20px;
    }

        #topbar{
            display: flex;
            justify-content: flex-end;
        }

            #topbar a{
                font-weight: 500;
                color: #1c1c21;
            }

        #heading{
            display: flex;
            justify-content: flex-start;

            font-size: 32px;
            font-weight: 700;
            color: #1c1c21;

            padding: 20px;
            padding-left: 20px;

            border-bottom: 1px solid #1c1c2125;
        }

        #main-cont{
            padding: 10px;
        }

            #top{
                display: flex;
                flex-direction: row;

                padding: 20px;

                background: #0575e6;

                font-weight: 400;
                color: white;

                border: none;
                border-radius: 25px;
                filter: drop-shadow(0px 27px 25px rgba(0,0,0,0.5));
            }

                #top-left{
                    width: 50%;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    padding-left: 10px;
                }

                    #top-left h1{
                        font-weight: 700;
                    }

                #top-right{
                    width: 50%;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    padding-right: 10px;
                }

                    #rollno{
                        font-size: 32px;
                    }

            #bottom{
                display: flex;
                flex-direction: row;

                padding: 20px;
            }

                #bottom-left{
                    width: 50%;
                    height: 100%;

                    padding: 20px;

                    background-color: white;

                    color: #1c1c21;

                    border-radius: 25px;
                    filter: drop-shadow(0px 27px 25px rgba(0,0,0,0.5));
                }

                #bottom-right{
                    width: 50%;

                    margin: 20px;
                    margin-top: 0;

                    display: flex;
                    flex-direction: column;
                }

                    #bottom-right-top{
                        width: 100%;
                        height: auto;

                        margin-bottom: 10px;

                        padding: 20px;

                        background-color: #005246;

                        color: white;

                        border-radius: 25px;
                        filter: drop-shadow(0px 27px 25px rgba(0,0,0,0.5));
                    }

                    #bottom-right-bottom{
                        width: 100%;
                        height: 55%;

                        padding: 20px;

                        background-color: white;

                        border-radius: 25px;
                        filter: drop-shadow(0px 27px 25px rgba(0,0,0,0.5));
                    }